DEVICE_SECRET=CHANGE_ME
FERNET_KEYS=GENERATE_A_FERNET_KEY
DATABASE_PATH=CyberHunter.db
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=cyberhunter
POSTGRES_USER=cyberhunter_app
POSTGRES_PASSWORD=CHANGE_ME
EXPECTED_RASPBERRY_PI_ID=raspberry-pi-01
EXPECTED_ESP32_ID=esp32-cyberhunter-01
HEARTBEAT_ONLINE_THRESHOLD_SECONDS=30
HEARTBEAT_OFFLINE_THRESHOLD_SECONDS=60
POLICY_ORGANIZATION_TYPE=prototype
POLICY_WARNING_THRESHOLD=40
POLICY_CRITICAL_THRESHOLD=80
POLICY_AUTO_ISOLATE_THRESHOLD=80
POLICY_AUTOMATIC_SHUTDOWN_ALLOWED=false
POLICY_MANUAL_APPROVAL_REQUIRED=true
POLICY_VERSION=1
RESPONSE_ACTION_TTL_SECONDS=300
